<div class="container">
  <!-- User -->
  <div class="row">
    <div class="col">
      <h4><%= current_user.name %></h4>
      <p>Member Since: <%= current_user.created_at.strftime("%Y") %></p>
    </div>
  </div>

  <!-- Current Clubs Following -->
  <div class="row">
    <div class="col">
      <h2>Currently Following</h2>
    </div>
  </div>
  <div class="row member-index-catagory-container">
    <% @my_current_book_clubs.each do |book_club| %>
      <div class="col-lg-2 col-md-3 col-sm-4 book-list">
        <div class="cover">
          <%= link_to book_club_path(book_club) do %>
            <%= image_tag book_club.cover.url(:medium), size: "150x227", alt: book_club.title %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Past Clubs Followed -->
  <div class="row">
    <div class="col">
      <h2>My Past Book Clubs</h2>
    </div>
  </div>
  <div class="row member-index-catagory-container">
    <% @my_past_book_clubs.each do |book_club| %>
      <div class="col-lg-2 col-md-2 col-sm-3 book-list-sm">
        <div class="cover">
          <%= link_to book_club_path(book_club) do %>
            <%= image_tag book_club.cover.url(:medium), size: "100x150", alt: book_club.title %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
