<div class="row">
  <div class="col-10">
    <div class="comment-info">
      <p class="user-name">
        <%= comment.user.name %>
        <span class="created"><%= comment.updated_at.strftime("%b %d, %G %l:%M %p") %></span>
      </p>
    </div>
    <p class="comment-body"><%= comment.body %></p>
    <% if policy(comment).update? %>
      <small class="comment-actions">
        <%= link_to 'Edit', edit_post_comment_path(@presenter.post, comment) %> |
        <%= link_to 'Delete', [@presenter.post, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'pull-right' %>
      </small>
    <% end %>
  </div>
</div>
