<p id="notice"><%= notice %></p>

<div class="container">
  <!-- Book Club Info small -->
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag @book_club.cover.url(:medium), :height => "225px" %>
    </div>
    <div class="col-sm-8">
      <h2><%= @book_club.title %></h2>
      <p><em>By: <%= @book_club.author %></em></p>
      <p>Discussion Closes: <%= @book_club.end_date.strftime("%B %-d, %Y") %></p>
      <br>
    </div>
  </div>

  <hr>

  <!-- Topic Name -->
  <div class="row">
    <div class="col">
      <h2><%= @topic.name %></h2>
      <%= link_to 'Edit Topic', edit_book_club_topic_path(@topic.book_club, @topic) %> |
      <%= link_to 'Delete Topic', [@topic.book_club, @topic], method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Back to Book Club', book_club_path(@book_club) %> <br>
      <%= link_to 'New Post', new_topic_post_path(@topic), class: "btn btn-primary" %>
    </div>
  </div>

  <!-- Show Topic Posts -->
  <div class="row">
    <div class="col">
      <% @topic.posts.each do |post| %>
        <p>
          <%= link_to post.body,  topic_post_path(@topic, post) %>
        </p>
      <% end %>
    </div>
  </div>

  <hr>

</div>
