<div class="container">
  <!-- Current book club tiles -->
  <div class="row">
    <div class="col">
      <h3>This Month's Book Clubs</h3>
    </div>
  </div>
  <div class="row member-index-catagory-container">
    <div class="col">
      <ul class="book-list">
        <% current.each do |book_club| %>
          <li>
            <div class="cover">
              <%= image_tag(book_club.cover.url(:medium), size: "150x227", alt: book_club.title) %>
            </div>
            <h4 class="title"><%= link_to book_club.title, book_club %></h4>
            <div class="by">
              <em>by: </em>
              <p><%= book_club.author %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Upcoming book club tiles -->
  <div class="row">
    <div class="col">
      <h3>Coming Next Month</h3>
    </div>
  </div>
  <div class="row member-index-catagory-container">
    <div class="col">
      <ul class="book-list">
        <% upcoming.each do |book_club| %>
          <li>
            <div class="cover">
              <%= image_tag(book_club.cover.url(:medium), size: "150x227", alt: book_club.title) %>
            </div>
            <h4 class="title"><%= link_to book_club.title, book_club %></h4>
            <div class="by">
              <em>by: </em>
              <p><%= book_club.author %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Past book club tiles -->
  <div class="row">
    <div class="col">
      <h3>Past Book Clubs</h3>
    </div>
  </div>
  <div class="row justify-content-center member-index-catagory-container">
    <div class="col">
      <ul class="book-list">
        <% past.each do |book_club| %>
          <li>
            <div class="cover">
              <%= image_tag(book_club.cover.url(:medium), size: "150x227", alt: book_club.title) %>
            </div>
            <h4 class="title"><%= link_to book_club.title, book_club %></h4>
            <div class="by">
              <em>by: </em>
              <p><%= book_club.author %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div> <!-- end of container -->
