<table class="table">
  <thead>
    <tr>
      <th colspan="2"></th>
      <th colspan="1">Start Date</th>
      <th colspan="1">End Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% book_clubs.each do |book_club| %>
      <tr>
        <td><%= image_tag book_club.cover.url(:thumb) %></td>
        <td><%= link_to book_club.title, book_club %></td>
        <td><%= book_club.start_date.strftime("%B %-d, %Y") %></td>
        <td><%= book_club.end_date.strftime("%B %-d, %Y") %></td>
        <td>
          <%= link_to 'Edit', edit_book_club_path(book_club) %> |
          <%= link_to 'Delete', book_club, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
