<p id="notice"><%= notice %></p>

<h1>Book Clubs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_clubs.each do |book_club| %>
      <tr>
        <td><%= link_to 'Show', book_club %></td>
        <td><%= link_to 'Edit', edit_book_club_path(book_club) %></td>
        <td><%= link_to 'Destroy', book_club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Club', new_book_club_path %>
