<p id="notice"><%= notice %></p>

<div class="container">
  <!-- Book Club Info -->
  <div class="row">
    <div class="col-md-4" align="center">
      <%= image_tag @book_club.cover.url(:medium) %>
    </div>
    <div class="col-md-8">
      <h2><%= @book_club.title %></h2>
      <p><em>By: <%= @book_club.author %></em></p>
      <p><%= @book_club.description %></p>
      <p>Start date: <%= @book_club.start_date.strftime("%B %-d, %Y") %></p>
      <p>End date: <%= @book_club.end_date.strftime("%B %-d, %Y") %></p>

      <br>
      <%= link_to 'Back to Book Shelf', book_clubs_path %>
    </div>
  </div>

  <hr>
  <!-- General Discussion -->
  <div class="row">
    <div class="col-sm-10">
      <h4>General Discussion</h4>
      <p>Warning: Spoilers may be present here!</p>
    </div>
    <div class="col-sm-2">
        <%= link_to 'Add New Topic',  new_book_club_topic_path(@book_club), class: "btn btn-primary" %>
    </div>
    <div class="col">
      <% @general_topics.each do |topic| %>
        <h5>
          <%= link_to topic.name,  book_club_topic_path(@book_club, topic) %>
        </h5>
      <% end %>
    </div>
  </div>

  <hr>
  <!-- Section Discussion -->
  <div class="row">
    <div class="col">
      <h4>Section Discussion</h4>
      <p>Just finished a chapter and want to talk about it?</p>
      <% @section_topics.each do |topic| %>
        <h5>
          <%= link_to topic.name,  book_club_topic_path(@book_club, topic) %>
        </h5>
      <% end %>
    </div>
  </div>

  <hr>

</div> <!-- end of container -->
