<p id="notice"><%= notice %></p>

<div class="container">
  <!-- Book Club Info small -->
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag @presenter.book_club_cover_url, :height => "225px" %>
    </div>
    <div class="col-sm-8">
      <h2><%= @presenter.book_club_title %></h2>
      <p><em>By: <%= @presenter.book_club_author %></em></p>
      <p>Discussion Closes: <%= @presenter.book_club_end_date %></p>
      <br>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h5>
        <strong><%= @presenter.topic.name %></strong>
      </h5>

      <p>
        <%= @presenter.post.body %>
      </p>
    </div>

    <div class="col-sm-3">
      <%= link_to 'Edit Post', edit_topic_post_path(@presenter.topic, @presenter.post) %> |
      <%= link_to 'Delete Post', [@presenter.topic, @presenter.post], method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Back', book_club_topic_path(@presenter.book_club, @presenter.topic) %>
    </div>

    <div class="col">
      <h6>Comments:</h6>
      <%= render @presenter.post.comments %>
      <h6>Add a new comment:</h6>
      <%= render 'comments/form', comment: Comment.new, post: @presenter.post %>
    </div>
  </div>
</div>
