<!DOCTYPE html>
<html>
  <head>
    <title>OneMorePage</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= link_to "One More Page", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsToggle" aria-controls="navbarsToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsToggle" style="">
        <% if user_signed_in? %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "Book Shelf", book_clubs_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Dashboard</a>
            </li>
          </ul>
        <% end %>
        <ul class="navbar-nav pull-right">
          <% if user_signed_in? %>
            <li class="nav-item dropdown show">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %>
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item">
                  <%= link_to 'Profile', edit_user_registration_path %>
                </a>
                <a class="dropdown-item">
                  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
                </a>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Log In', new_user_session_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_registration_path %>
            </li>
          <% end %>
        </ul>

        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Email">
          <input class="form-control mr-sm-2" type="text" placeholder="Password">
        </form> -->
      </div>
    </nav>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
